<!DOCTYPE html>
<html dir="rtl" lang="fa">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="هرآنچه که در ذهن دارید را حفظ کنید">
  <meta name="author" content="میر امیر موسوی">
  <meta name="fontiran.com:license" content="AK642">

  <title>محفظه - هرآنچه که در ذهن دارید را حفظ کنید</title>

  <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.0.0/css/bootstrap.min.css" integrity="sha384-P4uhUIGk/q1gaD/NdgkBIl3a6QywJjlsFJFk7SPRdruoGddvRVSwv5qFnvZ73cpz" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css'>
</head>

<body class="pt-navbar">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        محفظه
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/register">ثبت‌نام</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">ورود</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead text-center text-white">
    <div class="container">
      <h1 class="masthead-heading">هرآنچه که در ذهن دارید را حفظ کنید</h1>
      <a class="btn btn-primary btn-xl mt-5" href="/register">شروع رایگان</a>
    </div>
  </header>

  <section>
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4 mb-3">اپلیکیشن اندروید محفظه</h2>
            <p class="lead mb-4">استفاده راحت تر برای کاربران محبوب ترین سیستم عامل موبایل</p>
            <a href="https://github.com/mamousavi/mahfaze-android">
              <img src="/images/cafebazaar-badge.png" class="img-badge" alt="دریافت از بازار">
            </a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <img src="/images/screenshot-android-01.png" class="img-screenshot border rounded" alt="تصویر اسکرین شات"><!--
            --><img src="/images/screenshot-android-02.png" class="img-screenshot border rounded ml-1" alt="تصویر اسکرین شات">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-last">
          <div class="p-5">
            <h2 class="display-4 mb-3">اپلیکیشن محفظه نسخه iOS</h2>
            <p class="lead mb-4">دسترسی سریع تر برای کاربران iPhone و iPad</p>
            <a href="https://github.com/mamousavi/mahfaze-ios">
              <img src="/images/sibapp-badge-black.png" class="img-badge" alt="دریافت نسخه iOS از سیب‌اپ">
            </a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <img src="/images/screenshot-ios-02.png" class="img-screenshot border rounded" alt="تصویر اسکرین شات"><!--
            --><img src="/images/screenshot-ios-01.png" class="img-screenshot border rounded ml-1" alt="تصویر اسکرین شات">
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="py-3 bg-dark text-center text-white">
    <div class="container">
      <p class="m-0 small">کپی‌رایت © محفظه ۱۳۹۷</p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.rtlcss.com/bootstrap/v4.0.0/js/bootstrap.min.js" integrity="sha384-54+cucJ4QbVb99v8dcttx/0JRx4FHMmhOWi4W+xrXpKcsKQodCBwAvu3xxkZAwsH" crossorigin="anonymous"></script>
</body>

</html>